@model RealMax.Models.Listing

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <img src="~/Content/Images/Listing/NoImage.jpg"/>
    <hr />


    <h3>
        @Html.DisplayFor(model => model.HouseNumber)

        @Html.DisplayFor(model => model.StreetName).

        @Html.DisplayFor(model => model.ApartmentNumber)

        @Html.DisplayFor(model => model.City),

        @Html.DisplayFor(model => model.State)

        @Html.DisplayFor(model => model.ZipCode)

    </h3>
    <h4>
        @Html.DisplayFor(model => model.Price)
    </h4>
    <p>
        @Html.DisplayNameFor(model => model.Bed)

        @Html.DisplayFor(model => model.Bed),

        @Html.DisplayNameFor(model => model.Bath)

        @Html.DisplayFor(model => model.Bath)

        @Html.DisplayNameFor(model => model.SquareFeet)

        @Html.DisplayFor(model => model.SquareFeet)

        @Html.DisplayNameFor(model => model.LotSize)

        @Html.DisplayFor(model => model.LotSize)
    </p>
    <p>
        @Html.DisplayNameFor(model => model.ExtraFeatures):

        @Html.DisplayFor(model => model.ExtraFeatures)
    </p>

            @{ 
                var realtorId = Model.Realtor.ID;
                string realtorFullName = Model.Realtor.FirstName + " " + Model.Realtor.LastName;
            }
            Contact: 
            @Html.ActionLink(realtorFullName, "Details", "Realtor", new {id = Model.RealtorID}, null)
            

</div>
<p></p>
<p>
    @Html.ActionLink("Back to Listings", "Index")
</p>
