@model RealMax.Models.Realtor

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    @{ 
        string source = "~/Content/Images/Realtor/" + Model.ID;
    }
    <img src="@Url.Content(source) " alt="..." onerror="this.onerror = null; this.src='@Url.Content("~/Content/Images/Realtor/NoImage.jpg")';"/>

</div>
@{ 
    //TODO: add picture like in the index then move on to creating the listings
}
<div>
    <h4>@Html.DisplayFor(model => model.FirstName)
        @Html.DisplayFor(model => model.LastName)
    </h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        
            @{ 
                string bio = Model.Bio;
                if(bio != ""){
                    @:<dt>
                    Html.DisplayNameFor(model => model.Bio);
                    @:</dt>
                    @:<dd>
                    Html.DisplayFor(model => model.Bio);
                    @:</dd>
                }
            }
            
        

        <dd>
            @Html.DisplayFor(model => model.Bio)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back", "Index")
</p>
